---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* Set primary colors. */
$brand-color: #187bcd !default;
@import "{{ site.theme }}";

.site-header {
   border-bottom: none;
}
div.beauty-wrap {
    margin: 0;
    padding: 0;
}
.horiz-beauty, .beauty-container {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
}
div.horiz-beauty {
    margin: 0;
    padding: 0;
    width: 50%;
    padding-right: 10px;
    border-right: 1px dashed $brand-color;
    overflow: hidden;
    float: left;
}
div.beauty-container {
    overflow: hidden;
    width: 47%;
    padding-left: 10px
}
div.resp-beauty-gallery {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    max-width: 100%;
}
.beauty-card {
    float: left;
    max-height: 188px;
}
div.beauty-card {
    max-width: 50%;
    overflow: hidden;
}
.beauty-card a {
    display: inline-block;
    overflow: hidden;
}
div.beauty-card img {
 /*   width: 50%;*/
    overflow: hidden;
}
div.beauty-card:hover {
  border: none;
}
div.beauty-cat {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-transform: capitalize;
}
@media only screen and (max-width: $on-palm) { .home {
 background-color: #000000;
    }}
/* Adjust Work gallery description height to flow left to right correctly */
div.desc {
    min-height: 140px;
}

p.post-cat {
    color: $grey-color-dark;
/*    text-transform: uppercase; */
}