---
# Only the main Sass file needs front matter (the dashes are enough)
---

$brand-color: #187bcd !default;
@import "{{ site.theme }}";

div.desc {
    min-height: 90px;
}

p.post-cat {
    color: $grey-color-dark;
/*    text-transform: uppercase; */
}