---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* Set primary colors. */
$brand-color: #187bcd !default;
@import "{{ site.theme }}";

.site-header {
   border-bottom: none;
}
div.beauty-wrap {
    margin: 0;
    padding: 0;
}
div.horiz-beauty {
    margin: 0;
    padding: 0;
  /*  max-width: 50%;*/
    padding-right: 10px;
    border-right: 1px dashed $brand-color;
    background-color: aquamarine;
    overflow: hidden;
}
div.horiz-beauty img {
    height: 50%;
}
div.beauty-container {
    overflow: hidden;
    max-width: 45%;
    float: left;

}
div.resp-beauty-gallery {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    max-width: 100%;
}
.beauty-card {
    float: left;
    max-width: 50%;
    overflow: hidden;
}
div.beauty-card {
    max-width: 89%;
    overflow: hidden;
}
.beauty-card a {
    display: inline-block;
    overflow: hidden;
}
div.beauty-card img {
 /*   width: 50%;*/
    overflow: hidden;
}
div.beauty-card:hover {
  border: none;
}
/* Adjust Work gallery description height to flow left to right correctly */
div.desc {
    min-height: 140px;
}

p.post-cat {
    color: $grey-color-dark;
/*    text-transform: uppercase; */
}