// Placeholder to allow overriding predefined variables smoothly.
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$link-base-color: #ff4500 !default;
